# Ignore data directory
/data/

# Ignore all data files in the data_foundation_project
/data_foundation_project/data/raw/
/data_foundation_project/data/processed/

# Ignore all data files in the snowflake_streamlit project
/snowflake_streamlit/data/raw/
/snowflake_streamlit/data/processed/

# Ignore Snowflake configuration files (contains credentials)
/snowflake_streamlit/config/snowflake_config.yaml

# Ignore shapefile and related large geospatial files everywhere
*.shp
*.dbf
*.shx
*.prj
*.cpg
*.qpj
*.sbn
*.sbx
*.shp.xml

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl
*.egg-info/
.env
.venv/
venv/

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
*.log

# Others
.idea/
