# Ignore data directory
/data/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl
*.egg-info/
.env
.venv/
venv/

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
*.log

# Others
.idea/
